<app-navbar></app-navbar>
<div class="container">
  <form class="needs-validation" #templateForm="ngForm" novalidate>
    <div class="row">
      <div class="col-md-6 pull-left">
        <h2>Create Order</h2>
      </div>
        <div class="col-md-6 text-right">
          <button class="btn btn-danger" type="button" routerLink="/list-orders/"> Cancel</button>
          <button class="btn btn-primary ml-2"  type="submit"> Save Order</button>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Customer Information</h4>
              <div class="row">
                <input type="hidden" class="form-control" id="customerId" name="customerId" [ngModel]="customer?.id" #drinkName="ngModel">
                <div class="col-md-6">
                  <label for="customerName">Customer name</label>
                  <input type="text" class="form-control" id="customerName" name="customerName" [ngModel]="customer?.name" #customerName="ngModel" required>
                  <div *ngIf="drinkName.invalid && (customerName.dirty || customerName.touched || errorInForm)" class="text-danger">
                    <div *ngIf="(customerName.errors.required)">
                      Customer name is required.
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="customerPhone">Customer Phone</label>
                  <input type="text" class="form-control" id="customerPhone" name="customerPhone" [ngModel]="customer?.Phone" #customerPhone="ngModel" required>
                  <div *ngIf="customerPhone.invalid && (customerPhone.dirty || customerPhone.touched || errorInForm)" class="text-danger">
                    <div *ngIf="(customerPhone.errors.required)">
                      Price name is required.
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
