.card-footer {
  background: #dd9e28;
  color: white;
}

.card-body .card-drinks {
  background: #a51812;
  color: white;
}

.modal-footer {
  background: #dd9e28;
  color: white;
}

.modal-body {
  background: #a51812;
  color: white;
}

.modal-header {
  background: #dd9e28;
  color: white;
}
